<!doctype html>
<html ng-app="caelum">
<meta charset="utf-8" />
<title>tq6</title>

<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link href="css/index.css" rel="stylesheet" />

<script src="js/index.js"></script>

<div class="page" ng-controller="TimersCtrl">

    <a ng-hide="loaded" href="/api/auth/facebook">Login with Facebook</a>

    <ul class="timers" ng-show="loaded">

        <li class="timer timer_{{timer.lastState}}" ng-repeat="timer in timers">

            <div class="timer__title" ca-inplace="updateTitle(timer._id, timer.title)">
                <div class="timer__title__text">{{timer.title}}</div>
                <input class="timer__title__input" ng-model="timer.title" type="text" />
            </div>

            <span class="timer__value">{{timer.value | since}}</span>

            <button class="timer__button"
                ng-click="switchState(timer._id, timer.lastState)"
                ng-class="{'is-disabled': updatingState}"
                ng-disabled="updatingState">

                <i class="icon-play"></i>
                <i class="icon-pause"></i>
            </button>
        </li>
        <li class="timer timer_new">
            <button class="timer__button" ng-click="create()">
                <i class="icon-plus"></i>
            </button>
        </li>
    </ul>

</div>

</html>
