<!doctype html>
<html ng-app="caelum">
<meta charset="utf-8" />
<title>tq6</title>

<link href="css/index.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

<script src="js/index.js"></script>

<div class="page" ng-controller="TimerCtrl">

    <a ng-hide="timers" href="/api/auth/facebook">Login with Facebook</a>

    <ul class="timers" ng-show="timers">
        <li class="timer" ng-repeat="timer in timers">
            <input class="timer__title" type="text" ng-model="timer.name"/>
            <span class="timer__value">{{timer.value | since}}</span>
            <button class="timer__button">▶</button>
        </li>
        <li class="timer">
            <button class="timer__button">+</button>
        </li>
    </ul>

</div>

</html>
