html
body
  margin: 0
  padding: 0


.page
  width: 80%
  max-width: 800px
  margin: 20px auto 0

.timer
  display: inline-block
  width: 120px
  height: 120px
  margin: 0 20px 20px 0
  box-shadow: 0 0 1px #000
