.promo
  text-align: center
  margin: 20% auto

.fb-button
  display: inline-block
  width: 200px
  line-height: 29px
  padding: 8px 20px 8px 50px
  background: #3B5998 url(../i/fb-logo_white_29.png) 10px center no-repeat
  border: 1px solid #666;
  border-bottom: 1px solid #133783
  color: #FFF;
  font-size: 16px
  text-shadow: 0 0 1px #133783
  text-decoration: none
  transition: box-shadow .2s

.fb-button:hover
  box-shadow: 0 10px 30px rgba(255,255,255,.05) inset
